<p>backendHealth: {{backendHealth}}</p>
<div class="flex-row align-items-center ">
    <div><h1>Hello, {{ title }}</h1></div>
    <div class="margin-left-auto">
        @if (user) {
            {{ user.name }} <button (click)="logout()">Logout</button>
        }
        @else {
            <input #name placeholder="Name" type="text">
            <input #password placeholder="Password" type="password">
            <button (click)="login(name.value, password.value)">Login</button>
        }
    </div>
</div>    
<div><textarea [value]="jwt" (input)="setJwt($event)" placeholder="JWT-Auth-Token" class="textarea"></textarea></div>
<div><textarea [value]="jwt_refresh"  placeholder="JWT-Refresh-Token" class="textarea"></textarea></div>
@if (jwt_refresh) {
    <div><button (click)="refreshToken()">Refresh Token</button></div>
}

<h2>Users</h2>
<div class="add-user flex-row">
    <input #name placeholder="Name">
    <input #email placeholder="Email" type="email">
    <input #pas4sword placeholder="Password" type="password">
    <button (click)="addUser(name.value, email.value, pas4sword.value)">Add User</button>
</div>
@if (error) {
    <div class="error">
        <div class="header">{{ error.statusCode }} {{ error.error }}</div>
        @for (message of error.message; track $index) {
            <div class="detail">{{message}}</div>
        }
    </div>
}
<table>
    @for (user of users; track $index) {
        <tr>
            <td>{{ $index + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td (click)="deleteUser(user)" class="delete">X</td>
        </tr>
    }
</table>
