<p>backendHealth: {{backendHealth}}</p>
<div class="flex-row align-items-center ">
    <div><h1>Hello, {{ title }}</h1></div>
    <div class="margin-left-auto">
        @if (authService.isAuthenticated()) {
            <div class="flex-row align-items-center gap-1">
                <div>{{ authService.getUser().name }}</div>
                <div>[{{ authService.getUser().roles }}]</div>
                <div><button (click)="logout()">Logout</button></div>
            </div>
        }
        @else {
            <input #name placeholder="Name" type="text">
            <input #password placeholder="Password" type="password">
            <button (click)="login(name.value, password.value)">Login</button>
        }
    </div>
</div>    
<div><textarea [value]="jwt" (input)="setJwt($event)" placeholder="JWT-Auth-Token" class="textarea"></textarea></div>
<div><textarea [value]="jwt_refresh"  placeholder="JWT-Refresh-Token" class="textarea"></textarea></div>
@if (jwt_refresh) {
    <div><button (click)="refreshToken()">Refresh Token</button></div>
}

<br>
<nav class="router-links">
    <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">login</a>
    <a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">admin</a>
    <a routerLink="/access-denied" routerLinkActive="active" ariaCurrentWhenActive="page">access-denied</a>
</nav>
<br>
<router-outlet></router-outlet>

