<h2>Races</h2>
<div style="background: white; padding: 1rem;" class="flex-column">
  <div class="add-race flex-row gap-1">
    <mft-input-text placeholder="Name" #name />
    <mft-input-text placeholder="Description (optional)" #desc />
    <mft-button
      (onClick)="addRace(
        name.value || '',
        desc.value || null
      )"
      label="Add Race" />
    @if (raceError) {
      <div class="error">
        <div class="header">{{ raceError.statusCode }} {{ raceError.error }}</div>
        @for (message of raceError.message; track $index) {
          <div class="detail">{{ message }}</div>
        }
      </div>
    }
  </div>

  <mft-table [data]="races" [columns]="raceColumns"></mft-table>
</div>
