<h2>Users</h2>
<div style="background: white; padding: 1rem;" class="flex-column">
    <div class="add-user flex-row gap-1">
        <mft-input-text placeholder="Name" #name />
        <mft-input-text placeholder="Email" #email />
        <mft-password placeholder="Password" #pass />
        <mft-button (onClick)="addUser(name.value || '', email.value || '', pass.value || '')" label="Add User"/>
        @if (error) {
            <div class="error">
                <div class="header">{{ error.statusCode }} {{ error.error }}</div>
                @for (message of error.message; track $index) {
                    <div class="detail">{{message}}</div>
                }
            </div>
        }
    </div>
    <!-- <table>
        @for (user of users; track $index) {
            <tr>
                <td>{{ $index + 1 }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td (click)="deleteUser(user)" class="delete">X</td>
            </tr>
        }
    </table> -->


    <mft-table [data]="users"></mft-table>

</div>
